<div 
  class="lessons"
  ng-class="{visible: lessons.length}">

  <h4>Quizzes</h4>

  <ul>
    <li 
      class='appear' 
      ng-repeat='lesson in lessons'>

      <a 
        ng-href='/{{navToLesson(lesson)}}'
        class='content'>

        <span>{{$index + 1}}</span>

        <span class='completeness'>
          <span>{{lessonCounts[lesson.id]}}</span>
          <span ng-show='lessonCounts[lesson.id]'> / </span>
          <span>{{lesson._question_count}}</span>
        </span>

        <p>{{lesson.name}}</p>
      </a>
    </li>
  </ul>
</div>