<div
  class="header"
  style="background: {{silhouetteColor}};"
  ng-controller='HeaderCtrl'
  ng-include="'/views/shared/_header.html'"></div>

  <wsr-silhouette currentAsker="currentAsker"></wsr-silhouette>

  <div class="topfold">
    <span class="asker-photo">
      <img
        ng-show="questImage"
        src="{{imageBaseURL}}/{{questImage}}">
    </span>
    <div class="title">
      <h2>Make a quiz for {{currentAsker.subject_url}}</h2>
      <input ng-model='quiz.name'></input>
    </div>
  </div>


<div
  class='columns'
  ng-controller='PublicationsCtrl'>

  <div class="timeline-container">
    <ul class="timeline">
      <li
        ng-repeat='question in questions'
        class="feed-publication"
        style='display:inherit;'>

        <input class="radio" type="radio"></input>
        <div class="relative">
          <span class="circle">{{$index + 1}}</span>
        </div>

        <quizquestion 
          question='question'>
        </quizquestion>
      </li>
    </ul>

  </div>
</div>
