<wsr-silhouette currentAsker="currentAsker"></wsr-silhouette>

<div class="topfold">
  <span class="asker-photo">
    <img
      ng-show="$parent.questImage"
      src="{{imageBaseURL}}/{{questImage}}">
  </span>
  <div class="title">
    <h1 ng-show='$parent.lesson'>
      <a ng-href="/{{$parent.currentAsker.subject_url}}">{{$parent.currentAsker.subject}}</a>
    </h1>

    <h2 ng-show="$parent.questImage">
      <span>{{$parent.title}}</span>

      <div
        ng-hide='$parent.lesson'
        class='feed-selection'>
        <a
          ng-class="{'active-feed': !isNewFeed}"
          ng-href="/{{$parent.currentAsker.subject_url}}">Recent</a>
        /
        <a
          ng-class="{'active-feed': isNewFeed}"
          ng-href="/{{$parent.currentAsker.subject_url}}/new">Suggested</a>
      </div>
    </h2>
  </div>
</div>
