<div class="silhouette" style="background: {{$parent.bgColor}}; fill: {{$parent.silhouetteColor}};">
  <span ng-bind-html='$parent.silhouette'></span><span ng-bind-html='$parent.silhouette'></span><span ng-bind-html='$parent.silhouette'></span>
</div>
<div class="topfold">
  <span class="asker-photo">
    <img 
      ng-show="$parent.questImage"
      src="{{imageBaseURL}}/{{questImage}}">
  </span>
  <div class="title">
    <h1>
      <a href="/">
        
      </a>
    </h1>
    <h2 ng-show="$parent.questImage">
      Daily {{$parent.currentAsker.subject}} questions
    </h2>
  </div>
</div>
