<div class="silhouette" style="background: {{$parent.bgColor}}; fill: {{$parent.silhouetteColor}};">
  <span ng-bind-html='$parent.silhouette'></span><span ng-bind-html='$parent.silhouette'></span><span ng-bind-html='$parent.silhouette'></span>
</div>
<div class="topfold">
  <span class="asker-photo">
    <img
      ng-show="$parent.questImage"
      src="{{imageBaseURL}}/{{questImage}}">
  </span>
  <div class="title">
    <h2 ng-show="$parent.questImage">
      Daily {{$parent.currentAsker.subject}} questions

      <div class='feed-selection'>
        <a
          ng-class="{'active-feed': !isNewFeed}"
          ng-href="/{{$parent.currentAsker.subject_url}}">Recent</a>
        /
        <a
          ng-class="{'active-feed': isNewFeed}"
          ng-href="/{{$parent.currentAsker.subject_url}}/new">Suggested</a>
      </div>
    </h2>
  </div>
</div>
