<div class="content">
  <h3>
    <span>
      <input placeholder='Suggest a new question' />
    </span>
  </h3>

  <div class="answers">
    <div class="answer correct">
      <span>
        <input placeholder='Enter correct answer' />
      </span>
    </div>
    <div
      ng-repeat="incorrectAnswer in incorrectAnswers"
      class="answer incorrect">

      <span>
        <input
          ng-change='updateAnswers()'
          placeholder='Another incorrect answer'
          ng-model='incorrectAnswer.text' />
      </span>
    </div>
  </div>
</div>
