<ul class="timeline">
  <li
    ng-include="'/views/_new_question.html'"
    ng-controller='NewQuestionCtrl'
    class="feed-publication"
    style='display:inherit;'>
  </li>
  <li
    ng-repeat='publication in publications'
    class="feed-publication"
    style='display:inherit;'
    ng-controller='PublicationCtrl'>

    <input
      ng-if="!isInFocus(publication.id)"
      class="radio"
      type="radio"></input>

    <div
      class="relative"
      ng-hide="isInFocus(publication.id)">

      <span class="timeago" am-time-ago="publication.first_posted_at || publication.created_at"></span>
      <span class="circle"></span>
    </div>
    <div
      class="content"
      ng-class="{active: isInFocus(publication.id)}">

      <h3>
        <span class="subject-label" ng-class="{visible: index}">
          <a ng-href="/{{publication._asker.subject_url}}">{{publication._asker.subject}}</a>
        </span>
        <span class="timeago" am-time-ago="publication.first_posted_at || publication.created_at"></span>
        <span>{{publication._question.text}}</span>
      </h3>
      <div class="answers">
        <div
          ng-repeat='answer in publication._shuffledAnswers'
          class="answer"
          ng-controller='AnswerCtrl'
          ng-click='respondToQuestion()'
          ng-class='{correct: correct,
            incorrect: correct == false,
            grading: grading,
            disabled: disabled && answer.id != correctAId}'>

          <span>{{answer.text}}</span>
          <img ng-src="{{$parent.assetBasePath}}/ajax-loader.gif"/>
        </div>
        <div
          ng-click='tellMe()'
          class='answer'
          ng-hide='disabled || answered'>

          <span>I don't know</span>
        </div>
      </div>
      <h4 class="hidden phone-variant-hide">
        Take the full
        <a></a>
      </h4>
    </div>
  </li>
  <div class="load-more">
    <div class="phone-variant-hide">

    </div>
  </div>
</ul>
<div infinite-scroll="loadMore()" infinite-scroll-distance="3"></div>
