<div class='byline'>
  <span class='author'>
    Written by @{{author}}
  </span>

  <span class='created-at'>
    {{created_at | amDateFormat:"M/DD/YY"}}
  </span>
</div>

<div class='answer-stats' ng-show='answered_count'>
  <span>
    Answered {{answered_count}} times
  </span>

  <span>
    {{percent_correct | number:0}}% correct
  </span>
</div>

<div class='rating'>
  Rating:
  <rating 
    class='rating-container'
    ng-model="rating.score" 
    max="5" 
    readonly="!currentUser.id" 
    on-hover="hoveringOver(score)" 
    on-leave="overStar=null"
    state-on="'icon icon-star'" 
    state-off="'icon icon-star-empty'">
  </rating>
  
  <span 
    class='numeric-rating'
    ng-show='publication._question.rating_count'>
    
    ({{publication._question.rating}}
    from
    {{publication._question.rating_count}} 
    votes)
  </span>
</div>