<div
  ng-if="web"
  class="header"
  style="background: {{$parent.silhouetteColor}};">

  <header></header>
</div>

<wsr-silhouette currentAsker="currentAsker"></wsr-silhouette>

<div
  class='columns'
  ng-controller='PublicationsCtrl'
  ng-show='publications.length'
  ng-class='{quiz: lesson}'>

  <div
    ng-include="'/views/_publications.html'"
    class="timeline-container"></div>

  <div
    ng-if="web"
    class='right-column'>

    <div
      ng-controller="StreamCtrl"
      ng-include="'/views/_stream.html'"
      class="activity-stream"></div>

    <lessons-list
      asker='currentAsker'
      show-answered-counts='true'>
    </lessons-list>
  </div>
</div>
