  <div class='columns'>
    <div class="timeline-container">
      <ul class="timeline">
        <li ng-repeat='publication in publications' class="feed-publication" style='display:inherit;' ng-controller='PublicationCtrl'>
          <input class="radio" type="radio"></input>
          <div class="relative">
            <span class="timeago"></span>
            <span class="circle"></span>
          </div>
          <div class="content">
            <h3>
              <span class="subject-label">
                <a></a>
              </span>
              <span class="timeago"></span>
              <span>{{publication._question.text}}</span>
            </h3>
            <div class="answers">
              <div ng-repeat='(id, answerText) in publication._answers' class="answer"  ng-controller='AnswerCtrl'  ng-click='respondToQuestion()'>
                <span>{{answerText}}</span>
                <img src="{{assetBasePath}}/ajax-loader.gif"/>
              </div>
              <div class="answer">
                <span>I don't know</span>
              </div>
            </div>
            <h4 class="hidden phone-variant-hide">
              Take the full 
              <a></a>
            </h4>
          </div>
        </li>
        <div class="load-more">
          <div class="phone-variant-hide">
            
          </div>
        </div>
      </ul>
    </div>

    <div class='right-column'></div>
  </div>