<div class="content">
  <h3>
    <span>
      <input
        ng-model='question.text' 
        placeholder='Suggest a followup question' />
    </span>
  </h3>

  <div class="answers">
    <div class="answer correct">
      <span>
        <input ng-model='correctAnswer.text' placeholder='Correct answer' />
      </span>
    </div>
    <div
      ng-repeat="incorrectAnswer in incorrectAnswers"
      class="answer incorrect"
      ng-show="incorrectAnswer.id">

      <span>
        <input
          ng-change='updateAnswers()'
          placeholder='Incorrect answer'
          ng-model='incorrectAnswer.text' />
        <span 
          class='delete-answer'
          ng-click='deleteAnswer(incorrectAnswer.id)'>&#10006;</span>
      </span>
    </div>
    <div 
      class='answer incorrect add-answer' 
      ng-click='addAnswer(question.id)'
      ng-hide='incorrectAnswers.length > 2'>

      Add another answer
    </div>
  </div>
</div>

<div class='meta-info meta-info-present'>
  <div class='byline'>
    <a ng-click='deleteQuestion()'>
      Remove
    </a>
    <em class='status' ng-show='saving'>saving</em>
  </div>
</div>