<div
  class="header"
  style="background: {{silhouetteColor}};"
  ng-controller='HeaderCtrl'
  ng-include="'/views/shared/_header.html'"></div>

  <wsr-silhouette currentAsker="currentAsker"></wsr-silhouette>

<div
  class='columns'
  ng-controller='PublicationsCtrl'>

  <div class="timeline-container">
    <ul 
      class="timeline" 
      timeline-gradient
      bg-color="bgColor">

      <quiz-detail-editor 
        class="quiz-detail-editor"
        quiz="quiz"
        current-asker="currentAsker"
        edit-mode="editMode">
      </quiz-detail-editor>

      <li
        ng-repeat='lessonItem in lessonItems | orderBy : "created_at"'
        class="feed-publication"
        style='display:inherit;'
        ng-show="question.id">

        <input class="radio" type="radio"></input>
        <div class="relative">
          <span class="circle">{{$index + 1}}</span>
        </div>

        <quiz-question
          question="question"
          lesson-item="lessonItem"
          correct-answer="correctAnswer"
          incorrect-answers="incorrectAnswers"
          edit-mode="editMode">
        </quiz-question>
      </li>

      <div 
        ng-if='editMode'
        class="content new-question">

        <a ng-click='addQuestion()'>
          New Question
        </a>
      </div>
    </ul>
  </div>

  <div class='right-column'>

    <lessons-list 
      asker='currentAsker'
      edit-mode='true'>
    </lessons-list>
  </div>
</div>
