<div class="content">
  <form name='questionForm'>
    <h3>
      <span>
        <input
          name='questionText'
          ng-model='question.text'
          ng-model-options="{ updateOn: 'blur' }"
          ng-keyup="cancel($event)"
          ng-disabled='!editMode'
          placeholder='Question text' />
      </span>
    </h3>

    <div class="answers">
      <div class="answer correct">
        <span>
          <input 
            ng-model='correctAnswer.text' 
            placeholder='Correct answer'
            ng-model-options="{ updateOn: 'blur' }"
            ng-disabled='!editMode'
            ng-keyup="cancel($event)" />
        </span>
      </div>
      <div
        ng-repeat="incorrectAnswer in incorrectAnswers"
        class="answer incorrect"
        ng-show="incorrectAnswer.id">

        <span>
          <input
            ng-change='updateAnswers()'
            placeholder='Incorrect answer'
            ng-model='incorrectAnswer.text'
            ng-disabled='!editMode'
            ng-model-options="{ updateOn: 'blur' }"
            ng-keyup="cancel($event)" />
          <span 
            class='delete-answer'
            ng-click='deleteAnswer(incorrectAnswer.id)'>&#10006;</span>
        </span>
      </div>
      <div 
        class='answer incorrect add-answer' 
        ng-click='addAnswer(question.id)'
        ng-hide='incorrectAnswers.length > 2'>

        Add another answer
      </div>
    </div>
  </form>
</div>

<div class='meta-info meta-info-present'>
  <div class='byline'>
    <a
      ng-if='editMode' 
      ng-click='deleteQuestion()'>

      Remove
    </a>
    <em class='status' ng-show='saving'>saving</em>
  </div>
</div>